.export{
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
    width: 100%;
    height: 100%;
}

.canvasstyle {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content:left;
    background-color: #4b4b4b00;
    border: 5px solid #ff4646;
}

.toolbar {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content:right;
    gap: 10px;
    border: 5px solid #ff4646;
}
.editor {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    gap: 60px;
}

.frame-canvas {
    
    border: 5px solid #ff4646;
}